.app__aboutme{
    flex:1;
    width: 100%;
    flex-direction: column;
    
}

.app__profiles{
    display: flex;
    justify-content: space-between;
}

.app__profile-item{
    width:100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin:2rem;
     justify-content: space-between;
    //  padding: 1rem;
    //  border:1px solid silver;
     .app__profile-description{
        width: 65%;
        // padding: 2rem;
        margin-left: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p{
            font-size: 1.5rem;
            // font-family:'Times New Roman', Times, serif;
            font-family: 'Kalam', cursive;
            text-align: justify;
        }
        a{
            text-decoration: none;
            // border: 1px solid black;
            padding:8px 14px;
            color: #eaebea;
            background-color: black;
            border-radius: 12px;
            font-size: 1.2rem;
            font-family: 'Kalam', cursive;
            margin-top: 1rem;
            &:hover{
                box-shadow: 0 0 25px rgba(245, 244, 244, 0.8);
                background-image: linear-gradient(135deg,#d8323c, #eaebea,#d8323c);
                color:#0e0c0e;
            }

            @media screen and (max-width:768px) {
                border: 1px solid black;
                padding:8px 14px;
                color: #eaebea;
                background-color: black;
                border-radius: 12px;
                font-size: .8rem;
                margin: auto;
                font-family: 'Kalam', cursive;
            }
        }
     }
     .app__profile-subitem{
        display: flex;
        flex-direction: column;
        width: 35%;
         img{
            width:100%;
            height: auto;
            border-radius: 15px;
            object-fit: cover;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
            
         }
         @media screen and (min-width:2000px) {
            width:370px;
            margin:2rem 4rem;
    
        img{
            height: 30%;
         }   
         }
         @media screen and (max-width:1024px) {
            width:100%;
            margin:2rem 4rem;
    
        img{
            width: 100%;
         }   
         }
     }
     @media screen and (max-width:1024px) {
        flex-direction: column;
        .app__profile-description{
            width: 100%;
            padding: 1rem;
            // border: 1px solid  black;
            p{
                font-size: 1rem;
                font-family: 'Times New Roman', Times, serif;
            }
         }
     }
}