.app__header {
  display: flex;
  width: 85%;
  height: 65vh;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--black-color);
  font-family: "Manrope", sans-serif;

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 86vh;
    padding-inline: 1rem;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.app__header2-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  position: relative;
  img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: center; /* center the crop */
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    border: 2px dashed white;
    @media screen and (max-width: 767px) {
      border: 1px dashed white;
      height: 300px;
      width: 300px;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.app__header_summary {
  display: flex;
  width: 50%;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    height: 90vh;
  }
}

.app__header_heading {
  font-size: 3rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 500;
  margin-block: 1rem;
  font-family: "Manrope", sans-serif;

  @media screen and (max-width: 767px) {
    height: fit-content;
    font-size: 1.5rem;
    text-align: center;
    // margin-block: 0.5rem;
    flex-direction: column-reverse;
  }
}

.app__header_description {
  font-size: 1rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-family: "Manrope", sans-serif;

  @media screen and (max-width: 767px) {
    display: none;
    font-size: 0.8rem;
    text-align: justify;
  }
}

.app__header_QA {
  color: white;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.app__header_QA_details {
  width: 47%;
  padding: 0.8rem;
  border-left: 1px solid var(--primary);
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 60vh;
    border-left: 0;

    flex-direction: column-reverse;
  }
}

.app__header_FAQ_details {
  width: 47%;
  padding: 0.8rem;
  border-left: 1px solid var(--primary);
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 180vh;
    border-left: 0;
    overflow: scroll;
    flex-direction: column-reverse;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  color: white;
  overflow: scroll;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
    text-align: center;
  }

  span {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: var(--glass-bg);
  }
}

.experience-detail {
  margin-block: 0.5rem;
  text-decoration: dotted;
}

.button {
  padding: 0.8rem 1rem;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid var(--primary);
  transition: all 0.6s ease-in-out;
  display: flex;
  gap: 10px;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.app__header-info {
  flex: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50%;
  @media screen and (max-width: 767px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
  }
}

.hide_desc {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.show_desc {
  @media screen and (max-width: 1024px) {
    display: block;
  }
}
