#home{
    position: relative;
    // background:url('../../Assets/bgIMG.png');
    // background-size: cover;
    // background-repeat: repeat;
    background-position: center;
    background-color: #0c0e0c;
    
    .app__wrapper{
        padding:0;
    }
}

.app__header{
    flex:1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 6rem 2rem 0;

    @media screen and (min-width:2000px) {
        padding-top: 8rem;

    }
    @media screen and (max-width:1024px) {
        flex-direction: column;
    }
    @media screen and (max-width:450px) {
        padding:6rem 1rem 2rem;
    }
}

.app__header-info{
    flex:0.65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;


    @media screen and (max-width:2000px) {
        width:100%;
        margin-right: 0rem;;    
    }
    @media screen and (max-width:1024px) {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0rem;;    
    }
}

.app__header-badge{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 3rem;
    
    .badge-cmp, .tag-cmp{
        padding: 1rem 2rem;
        border:var(--white-color);

        border-radius: 15px;
        flex-direction: row;
        width: 36vw;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
        border:1px solid black;
        div{
            p{
            color: #eaebea;
            }
            h1{
        color:#d8323c;

            }
        }

        @media screen and (max-width:1024px) {
            width:90%;
            margin:auto;
            
            p{
        text-align: center;
            }
        }
    }
    .badge-cmp{
        text-align: left;

    }
    .tag-cmp{
        flex-direction: column;
        margin-top: 3rem;

        p,h2{
            width: 100%;
            text-transform: capitalize;
            text-align: left;
        }
        h2{
            font-size: 2rem;
        }
    }

    span{
        font-size:2.5rem;
        @media screen and (min-width:2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width:1024px) {
        
        justify-content: flex-start;
        align-items: flex-start;
    }
}

 .app__header-circles{
    flex:0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    
    div{
        width:70px;
        height: 70px;
        border-radius: 50%;
        background:var(--white-color );
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
        border:2px solid yellow;
        // box-shadow: 0 0 20px rgba(0,0,0,0.1);

        img{
            width:50%;
            height: 50%;
        }
    }
    div:nth-child(1){
        width: 100px;
        height: 100px;
        margin-left: 1rem;
    }
    
    div:nth-child(2){
        margin:2.75rem;
        width: 150px;
        height: 150px;
    }
    
    div:nth-child(3){
        width: 100px;
        height: 100px;
        margin-left:1rem
    }
    @media screen and (min-width:2000px) {
        
    div:nth-child(1){
        width: 400px;
        height: 400px;
    }
    
    div:nth-child(2){
        width: 170px;
        height: 170px;
    }
    
    div:nth-child(3){
        width: 200px;
        height: 200px;
    }
         
    }

    @media screen and (max-width:1024px) {
        // width:100%;
        // flex-direction: row;
        // flex-wrap: wrap;
        // margin-left: 0;
        display: none;

        div{
            margin:1rem;
        }
        
    }
 }

 .app__header-img{
    flex:1;
    width:58%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative; 
    margin-left: 3rem;
    // border:2px solid yellow;

    img{
        width: 98%;;
        margin: auto;
        border-radius: 50%;
        object-fit: contain;
        z-index: 1;
    }

    .overlay_circle{
        position: absolute;
        left:0;
        right:0;
        margin: auto;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width:1024px) {
        margin: 2rem 0  ;
    }
 }