:root {
  --font-base: 'Manrope', sans-serif;
  --black-color: #000000;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7678;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --primary: #1e1e1e;
  --secondary: #007aff;
  --bg-dark: #1e1e1e;
  --glass-bg: #007aff;
  --glass-border: rgba(255, 255, 255, 0.3);
  --highlight: #c0a062;
  --text-light: #ffffff;
}
html {
  scroll-behavior: smooth;
  background-color: var(--black-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
